<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
    <meta property="og:url" content="" />
    <meta property="og:type" content="" />
    <meta property="og:image" content="" />
    -->
    <meta property="og:title" content="NET Collection Interface Interactive Guide" />
    <meta property="og:description" content="An interactive guide created for learning collection interfaces in .NET world." />
    <title>.Net Collection Interfaces Interactive Guide</title>    
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAZklEQVR42mNkoBAwDgoDWIC4AYhjgZiPSH2fgHgxSB/IgG4gLsGj+BUQpwPxfyQxOSCuB+L5IAM+ADE/ARt1gfgKmlgCEE9gRDMZF3AA4oNoYvZAfGCYGEBxIFIcjRQnJIrAwBsAAGOrIQvOAF2fAAAAAElFTkSuQmCC" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/marked@0.3.9"></script>
    <style>
        .navbar-default {
            background: transparent;
            background-image: none;
            border-color: transparent;
            box-shadow: none;
        }
        .menu-button-block {
            display: inline-block; 
            width: 4em;
            height: 4em;
            margin: 2px;
            vertical-align: top;
        }
        .menu-label-block {
            display: inline-block;
            width: 14em;
            height: 6em;
        }
        @media (max-width: 767px) { /* mobile only */
            .mobile-col-height {
                height: 100vh;
            }
        }
        [v-cloak] {
            display: none;
        }
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s
        } 
        .fade-enter, .fade-leave-to {
            opacity: 0
        }
        .slide-fade-enter-active {
            transition: all .3s ease;
        }
        .slide-fade-leave-active {
            transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .slide-fade-enter, .slide-fade-leave-to {
            transform: translateX(10px);
            opacity: 0;
        }
        .flip-list-move {
            transition: transform 0.5s;   
        }
    </style>
</head>
<body>  
    <a href="https://github.com/rvhuang/dotnet-ciig"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <div class="container">           
        <!-- Modal -->
        <div class="modal fade" id="dialogBoxPm" role="dialog" tabindex="-1" aria-labelledby="lablePm">
            <div class="modal-dialog" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="lablePm"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;Why are you here?</h4>
                    </div>
                    <div class="modal-body">
                        <p>I don't think you need the guide.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                    </div>
                </div>
            </div>
        </div>       
        <div class="modal fade" id="dialogBoxFaq" role="dialog" tabindex="-1" aria-labelledby="lableFaq">
            <div class="modal-dialog modal-lg" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="lableFaq"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;FAQ</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" id="dialogBoxFaqBody"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>        
        <div class="modal fade" id="dialogBoxAbout" role="dialog" tabindex="-1" aria-labelledby="lableAbout">
            <div class="modal-dialog" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="lableAbout"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;About</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" id="dialogBoxAboutBody"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>        
        <!--Navbar-->
        <nav>
            <ul class="nav nav-pills navbar-right">
                <li><a href="index.html" class="btn-default">Home</a></li>
                <li><a href="#dialogBoxFaq" class="btn-default" data-toggle="modal" data-target="#dialogBoxFaq">FAQ</a></li>
                <li><a href="#dialogBoxAbout" class="btn-default" data-toggle="modal" data-target="#dialogBoxAbout">About</a></li>
            </ul>
        </nav>
        <div class="page-header">
            <h1 class="hidden-xs">.NET Collection Interface Interactive Guide</h1>
            <h3 class="visible-xs">.NET Collection Interface Interactive Guide</h3>
            <p>An interactive guide created for learning collection interfaces in .NET world.</p>
        </div>
        <div id="main">
            <transition name="fade" mode="out-in" v-on:after-enter="enablePopover">
                <div class="row" v-if="currentStep == 0" key="step0">
                    <div class="col-md-12 text-center">
                        <p class="lead">&nbsp;</p>
                        <p class="lead">There are many collection interfaces in .NET world.<br />Let's see which is best for you.</p>
                        <p class="lead">
                            <button type="button" class="btn btn-default btn-lg" v-on:click="currentStep = 1"><b>Get Started</b></button>
                        </p>
                    </div>
                </div>
                <div class="row" v-if="currentStep == 1" key="step1">
                    <div class="col-md-12" v-cloak>
                        <h3>What would you like to do?<br /><small>Please let us know a bit about you...</small></h3>
                        <br />
                        <div class="row">
                            <div class="col-md-3">   
                                <div class="menu-button-block">
                                    <button id="step2Button" type="button" class="btn btn-default btn-lg" v-on:click="restartFlows"><span class="glyphicon glyphicon-pencil"></span></button>
                                </div>
                                <div class="menu-label-block">
                                    <label for="step2Button">Answer questions</label>
                                    <p>and let us choose an interface for you</p>
                                </div>  
                            </div>
                            <div class="col-md-3">   
                                <div class="menu-button-block">
                                    <button id="step4Button" type="button" class="btn btn-default btn-lg" v-on:click="startCheckList"><span class="glyphicon glyphicon-list"></span></button>
                                </div>
                                <div class="menu-label-block">
                                    <label for="step4Button">View our checklist</label>
                                    <p>to compare and browse interfaces</p>
                                </div>  
                            </div>
                            <div class="col-md-3">
                                <div class="menu-button-block">
                                    <button id="step5Button" type="button" class="btn btn-default btn-lg" v-on:click="startComparison"><span class="glyphicon glyphicon-equalizer"></span></button>
                                </div>
                                <div class="menu-label-block">
                                    <label for="step5Button">Select and compare</label>
                                    <p>interfaces to see the differences</p>
                                </div>  
                            </div>
                            <div class="col-md-3">
                                <div class="menu-button-block">
                                    <button id="stepXButton" type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#dialogBoxPm"><span class="glyphicon glyphicon-user"></span></button>
                                </div>
                                <div class="menu-label-block">
                                    <label for="stepXButton">Learn</label>
                                    <p>how to be a Project Manager</p> 
                                </div>  
                            </div>
                        </div>
                    </div> 
                </div>                
                <div class="row" v-if="currentStep == 2" key="step2">
                    <div class="col-md-6" v-cloak>    
                        <h5 v-if="hasNext">Please answer a few of questions below:</h5>
                        <transition name="slide-fade" v-on:leave="getNextQuestion" v-on:after-enter="enablePopover">
                            <h3 v-if="show">{{ q.text }}</h3>
                        </transition>
                        <form role="form">
                            <div class="form-group" v-if="q.description != null && q.description.length > 0">
                                <button type="button" class="btn btn-default btn-xs" data-toggle="popover" data-html="true" v-bind:data-content="marked(q.description, { renderer: markdownRenderer })">...</button>
                            </div>
                            <div class="form-group" v-if="hasNext">
                                <div class="radio">
                                    <label><input type="radio" v-model="answer" v-bind:value="true" />Yes</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" v-model="answer" v-bind:value="false" />No</label>
                                </div>
                            </div>
                            <div class="form-group">&nbsp;</div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" v-on:click="currentStep = 1">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </button>    
                                <button type="button" class="btn btn-default" v-on:click="restartFlows" title="Restart">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                                <button type="button" class="btn btn-default" v-if="hasNext" v-on:click="answerCurrentQuestion" v-bind:disabled="!(hasAnswered && hasNext)" title="Next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6" v-cloak>
                        <question-history :answered-questions="answeredQuestions"></question-history>
                    </div>
                </div>
                <div class="row" v-if="currentStep == 3" key="step3">
                    <div class="col-md-6" v-cloak>
                        <h5>The best collection interface for you is...</h5>
                        <h3>
                            {{ interface.typeName }}<br />
                            <small>{{ interface.namespace }}</small>
                        </h3><br />
                        <a v-if="interface != null" v-bind:href="interface.referenceUrl" target="_blank" class="btn btn-default"><span class="glyphicon glyphicon-new-window"></span> Learn more about the interface</a>
                        <button type="button" class="btn btn-default" v-on:click="restartFlows" title="Restart">
                            <span class="glyphicon glyphicon-step-backward"></span>
                        </button>
                    </div>
                    <div class="col-md-6" v-cloak>
                        <question-history :answered-questions="answeredQuestions"></question-history>
                        <question-skipped :skipped-questions="skippedQuestions" :has-next="hasNext" :interface="interface"></question-skipped>
                    </div>
                </div>
                <div class="row" v-if="currentStep == 4" key="step4">
                    <div class="col-md-2" v-cloak>    
                        <button type="button" class="btn btn-default hidden-xs" v-on:click="currentStep = 1">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>    
                    </div>
                    <div class="col-md-4 mobile-col-height" v-cloak>
                        <list-header-left caption="Features I want"></list-header-left>
                        <ul class="list-unstyled">
                            <li v-for="text in checkList.allQuestionTexts">
                                <div class="checkbox">
                                    <label><input type="checkbox" v-on:change="checkList.tickQuestion(text)"/>{{ text }}</label>
                                </div>
                            </li>
                        </ul>
                    </div> 
                    <div class="col-md-4 mobile-col-height" v-cloak>             
                        <list-header-right caption="Interfaces I can use"></list-header-right>
                        <transition-group name="flip-list" tag="ul" class="list-unstyled">
                            <li v-for="item in checkList.interfaces" v-bind:key="item.typeName">
                                <div class="checkbox">
                                    <label v-if="checkList.checkInterfaceAvailability(item.typeName)"><input type="checkbox" checked disabled/>{{ item.typeName }}</label>
                                    <label v-else class="text-muted"><input type="checkbox" disabled/>{{ item.typeName }}</label>
                                    <small><a v-bind:href="item.referenceUrl" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></small>
                                </div>
                            </li>
                        </transition-group>    
                    </div>
                </div>
                <div class="row" v-if="currentStep == 5" key="step5">
                    <div class="col-md-2" v-cloak>    
                        <button type="button" class="btn btn-default hidden-xs" v-on:click="currentStep = 1">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>    
                    </div>
                    <div class="col-md-4 mobile-col-height" v-cloak> 
                        <list-header-left caption="Interfaces to compare"></list-header-left>
                        <ul class="list-unstyled">
                            <li v-for="item in checkList.interfaces">
                                <div class="checkbox">
                                    <label class="text-muted"><input type="checkbox" v-on:change="checkList.tickInterface(item.typeName)"/>{{ item.typeName }}</label>                                    
                                    <a v-bind:title="item.typeName" v-bind:href="item.referenceUrl" class="btn btn-default btn-xs" target="_blank" style="margin-right: 1px">
                                        <b>{{ item.shortName }}</b>
                                    </a>                                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 mobile-col-height" v-cloak>
                        <list-header-right caption="Features of interfaces"></list-header-right>
                        <transition-group name="flip-list" tag="ul" class="list-unstyled">
                            <li v-for="text in checkList.allQuestionTexts" v-bind:key="text">
                                <p style="margin: 10px 0px 10px 0px">
                                    <label style="font-weight: 400">{{ text }}</label> 
                                    <a v-for="item in checkList.checkQuestionAvailability(text)" v-bind:title="item.typeName" v-bind:href="item.referenceUrl" class="btn btn-default btn-xs" style="margin-right: 1px">
                                        <b>{{ item.shortName }}</b>
                                    </a>
                                </p>
                            </li>           
                        </transition-group>
                    </div>
                </div>
            </transition>
        </div>
    </div>    
    <!-- Template -->
    <template id="question-history">
        <div>
            <h5 v-if="answeredQuestions.length > 0">Your answers:</h5>
            <ul>
                <li v-for="q in answeredQuestions">
                    <span>{{ q.text }}</span>
                    <span v-if="q.yourAnswer == true" class="glyphicon glyphicon-ok" title="Yes"></span>
                    <span v-if="q.yourAnswer == false" class="glyphicon glyphicon-remove" title="No"></span>
                </li>
            </ul>
        </div>
    </template>
    <template id="question-skipped">
        <div>
            <h5 v-if="!hasNext && skippedQuestions.length > 0">Based on your choices, you have implicitly answered following questions:</h5>
            <ul>
                <li v-for="q in skippedQuestions">
                    <span>{{ q.text }}</span>
                    <span v-if="q.answer == true" class="glyphicon glyphicon-ok" title="Yes"></span>
                    <span v-if="q.answer == false" class="glyphicon glyphicon-remove" title="No"></span>
                </li>
            </ul>
        </div>
    </template>
    <template id="list-header-left">
        <div class="row">
            <div class="col-xs-10 col-md-8">
                <h4 style="margin: 1.5vh 0vh 1.5vh 0vh;">{{ caption }}</h4>
            </div>
            <div class="col-xs-2 col-md-4">
                <a id="r-select" href="#r-result" class="btn btn-default btn-sm visible-xs" v-on:click="smoothScroll"><span class="glyphicon glyphicon-menu-right"></span></a>
            </div>
        </div>
    </template>
    <template id="list-header-right">
        <div class="row">
            <div class="col-xs-10 col-md-8">
                <h4 style="margin: 1.5vh 0vh 1.5vh 0vh;">{{ caption }}</h4>
            </div>
            <div class="col-xs-2 col-md-4">
                <a id="r-result" href="#r-select" class="btn btn-default btn-sm visible-xs" v-on:click="smoothScroll"><span class="glyphicon glyphicon-menu-left"></span></a>
            </div>
        </div>
    </template>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="main.js"></script>
    <script>  
        var renderer = new marked.Renderer();

        renderer.link = function (href, title, text) {
            return '<a target="_blank" href="' + href + '" title="' + title + '">' + text + '</a>';
        };
        var smoothScroll = function (ev) {
            ev.preventDefault();

            var hash = ev.currentTarget.hash;
            $('html, body').stop().animate({
                scrollTop: $(hash).offset().top - 12
            }, 800, function(){
                // window.location.hash = hash;
            });
        };   
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#dialogBoxFaq').on('show.bs.modal', function (e) {
                if ($('#dialogBoxFaqBody').is(':empty')) {
                    $.get('docs/faq.md', null, function (data) {
                        $('#dialogBoxFaqBody').html(marked(data, { renderer: renderer }));
                    });
                }
            });
            $('#dialogBoxAbout').on('show.bs.modal', function (e) {
                if ($('#dialogBoxAboutBody').is(':empty')) {
                    $.get('docs/about.md', null, function (data) {
                        $('#dialogBoxAboutBody').html(marked(data, { renderer: renderer }));
                    });
                }
            });
        });   
        Vue.component("question-history", {
            template: "#question-history",
            props: ['answered-questions']
        });
        Vue.component("question-skipped", {
            template: "#question-skipped",
            props: ['skipped-questions', 'has-next', 'interface']
        });
        Vue.component("list-header-left", {
            template: "#list-header-left",
            props: ['caption'],
            methods: {
                smoothScroll: smoothScroll
            }
        });
        Vue.component("list-header-right", {
            template: "#list-header-right",
            props: ['caption'],
            methods: {
                smoothScroll: smoothScroll
            }
        });
        $.get('questions.json', null, function (questions) {
            var flow = Flow.initialize(questions);
            var app = new Vue({
                el: "#main",
                data: {
                    markdownRenderer: renderer,
                    currentStep: 0, // remember to change back to 0
                    questions: questions,
                    checkList: null, // remember to change back to null                
                    //-------------//
                    show: true,
                    q: flow.moveToNextQuestion(),
                    answer: null,
                    answeredQuestions: flow.answeredQuestions,
                    skippedQuestions: flow.skippedQuestions,
                    interface: null,
                    hasNext: true 
                },
                methods: {
                    answerCurrentQuestion: function (ev) {
                        this.show = false;
                        flow.answerCurrentQuestion(this.answer);
                    },
                    getNextQuestion: function (ev) {
                        var qNext = flow.moveToNextQuestion();

                        if (qNext != null) { 
                            this.answer = null;
                            this.hasNext = true;
                            this.q = qNext;
                        } else {
                            this.hasNext = false;
                            this.q = null;

                            this.interface = flow.interfaces[0];
                            this.currentStep = 3; // here
                        }
                        this.show = true;
                    },
                    restartFlows: function (ev) {
                        this.currentStep = 2;

                        flow = Flow.initialize(this.questions); 

                        //-------------//
                        this.show = true;
                        this.q = flow.moveToNextQuestion();
                        this.answer = null;
                        this.answeredQuestions = flow.answeredQuestions;
                        this.skippedQuestions = flow.skippedQuestions;
                        this.interface = null;
                        this.hasNext = true;
                    },
                    enablePopover: function (ev) {
                        if (this.currentStep == 2) {
                            $('[data-toggle="popover"]').popover(); 
                        }
                    },
                    startCheckList: function (ev) {
                        if (this.currentStep != 4) {
                            this.currentStep = 4;
                            this.checkList = CheckList.initialize(this.questions);
                        }
                    },
                    startComparison: function (ev) {
                        if (this.currentStep != 5) {
                            this.currentStep = 5;
                            this.checkList = CheckList.initialize(this.questions);
                        }
                    }
                },
                computed: {
                    hasAnswered: function () {
                        return this.answer != null;
                    }
                }
            }); 
        });
    </script>    
</body>
</html>
